@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));




/* Light Theme */
/* body.light {
    background-color: white;
    color: black;
  }
  
  a.light {
    color: blue;
  } */
  
  /* Dark Theme */
  /* body.dark {
    background-color: #121212;
    color: white;
  }
  
  a.dark {
    color: #bb86fc;
  } */


